:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.label-text {
  margin-inline-end: 0.5em;
}

/* Payments table styling */
.loan-payments-table {
  thead>tr>th {
    text-align: start;
    border-bottom: 1px solid rgba(144, 140, 140, 0.385);
    padding-bottom: 0.5em;
    padding-inline-end: 1.5em;
    font-size: calc(0.5rem + 0.7vw);
  }

  tbody>tr>td {
    padding: 0.75em 0;
    padding-inline-end: 1.5em;
    text-align: start;
    font-size: calc(0.5rem + 0.6vw);
  }

  .unpaid-loan {
    color: gray;
  }

  .on-time-loan {
    color: green;
  }

  .late-loan {
    color: orange;
  }

  .defaulted-loan {
    color: red;
  }

}

/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #514b82;
  -webkit-mask: radial-gradient(circle closest-side at 50% 40%,#0000 94%, #000);
  transform-origin: 50% 40%;
  animation: l25 1s infinite linear;
}

@keyframes l25 {
  100% {transform: rotate(1turn)}
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
